<footer class="o-footer" role="contentinfo">
    <div class="o-footer-top">
      <div class="container-md">
        <ul class="nav align-items-center justify-content-center">
          <li class="nav-item mb-3 mb-md-0 pl-md-0 col-12 col-md-auto">Follow sur les réseaux sociaux</li>
          <li class="nav-item ml-2"><a class="nav-link btn btn-inverse btn-social btn-twitter" href="https://twitter.com/hele_app" target="_blank"><span class="sr-only">Twitter</span></a></li>
          <li class="nav-item ml-2"><a class="nav-link btn btn-inverse btn-social btn-facebook" href="https://www.facebook.com/apphele" target="_blank"><span class="sr-only">Facebook</span></a></li>
          <li class="nav-item ml-2"><a class="nav-link btn btn-inverse btn-social btn-instagram" href="https://www.instagram.com/hele_app/" target="_blank"><span class="sr-only">Instagram</span></a></li>
          <li class="nav-item ml-2"><a class="nav-link btn btn-inverse btn-social btn-linkedin" href="https://www.linkedin.com/company/29285309" target="_blank"><span class="sr-only">Linkedin</span></a></li>
        </ul>
      </div>
    </div>
    <div class="o-footer-body">
      
  
    <div class="o-footer-bottom">
      <div class="container-md">
        <ul class="nav flex-column flex-md-row ">
          <li class="nav-item mb-2 mt-1 mr-3 my-md-0 align-self-md-center ">© BlaBlacode 2021</li>
     
          <li class="nav-item mb-2 mt-1 my-md-0"><a class="nav-link" href="https://github.com/Thomas-Torrente" target="_blank">Site réaliser par Thomas Torrente</a> Avec Python Flask et Jinja</li>
          <li class="nav-item mb-2 mt-1 my-md-0"><a class="nav-link" href="#"></a></li>

        </ul>
      </div>
    </div>
  </footer>