<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">

        <a class="navbar-brand" href="/">
            <img src="/static/img/logo-orange.jpg" alt="Back to homepage" title="Go to homepage" />
        </a>
        <a class="nav-link" href='/' style="color:white;"> all recettes</a></div>
        <a class="nav-link" href='/ajouter' style="color:white;"> Ajouter une recette</a>
        <a class="nav-link" href='/rechercher' style="color:white;"> Trouver une recette</a>
        <a class="nav-link" href='/delete' style="color:white;"> Supprimer une recette</a>

      </div>

       
       
    </nav>

    <nav role="navigation" class="o-nav-local navbar-light">
        <ul class="container nav">
            <li class="nav-item"><a class="nav-link" href="/">Toutes les recettes</a></li>
            <li class="nav-item"><a class="nav-link" href="/pastis-par-temps-bleu/pastis-delicieux">Apéritifs</a></li>
            <li class="nav-item"><a class="nav-link" href="/entree">Entrée</a></li>
            <li class="nav-item"><a class="nav-link" href="/plat">Plat principal</a></li>
            <li class="nav-item"><a class="nav-link" href="/dessert">Dessert</a></li>
        </ul>
    </nav>
</header>